.Nav{
    background-color: black;
    display: flex;
    flex-direction: row;
    color: white;
    align-items: center;
    border-bottom: 1px solid rgb(55, 55, 55);
    justify-content: center;
    /* background-image: linear-gradient(to bottom,transparent,rgb(68, 67, 67)); */
}
.title{
    font-weight: bolder;
    font-size: x-large;
    padding-bottom: 10px;
}
.logo{
    height: 50px;
    margin: 0%;
}
