.banner{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items:center;
}
/* Tiger */
.tiger_content{
    color: white;
    display: flex;
    flex-direction: column;
    margin-top: 5%;
    z-index: 2;
    position: relative;
    left: -24%;
    top: 80px;
}
.tiger {

    font-size: 70px;
    font-weight: 311; /* Initial font weight (if needed, adjust this value to match the desired weight) */
    font-family: 'Gambetta', serif;
    text-transform: uppercase;
    transition: 700ms cubic-bezier(0.6, -0.28, 0.735, 0.045);
    letter-spacing: 5px;
    width: 200px;
}
  
.tiger:hover {
    font-weight: 582; /* Font weight on hover (adjust this value as needed) */
    letter-spacing: 10px;
    }
/* .discription{
    color: rgb(101, 100, 100);
    width: 300px;
    font-size: smaller;
} */
.image{
    margin-top: 5%;
    position: absolute;
    top: 3%;
    left:30%;
    transform: translate(-50%,-50%);
    z-index: 1;
    height: 550px;
}

.status,.species{
    font-family: 'Century Gothic';
    letter-spacing: 5px;
    font-size: small;
}
.status_detail{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    letter-spacing: 3px;
    margin-top: 10px;
    font-weight: 700;
    font-size: large;
}
.status{
    margin-top: 10px;
}
.species{
    margin-bottom: 10px;
}
.text-with-line {
    display: inline-flex;
    align-items: center;
  }
  .line {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    border: 1px solid white; 
    width: 90%;
  }
.margin-status-hr{
    margin-top: 20px;
    margin-left: 5px;
  }
.margin-species-hr{
    margin-bottom: 15px;
    margin-left: 5px;
}
